{% extends "../../base/template/base.html" %}
{% block title %}{{ userinfo['username'] }} 的主页{% end %}
{% block css %}
<style type="text/css">
    a.counter {
        color: #356dd0;
        font-size: 32px;
    }
</style>
{% end %}
{% block body %}
<div class="am-container" style="max-width: 1200px;">
    <div class="am-u-sm-12 am-u-md-4">
        <table class="am-table am-text-sm am-scrollable-horizontal">
            <tr class="row">
                <td>
                    <img class="am-img-thumbnail am-circle" src="{{ static_url("img/avatar/"+str(userinfo['_id'])+".png")}}" width="90" height="90"/>
                </td>
                <td colspan="2">
                    <div>
                        <strong>  {{ userinfo['username'] }}</strong>
                    </div>
                    <div>
                        注册于
                        {{ datetime.datetime.fromtimestamp(int(userinfo['register_time'])).strftime('%Y-%m-%d') }}
                    </div>
                    <div>
                        所在地区: {{ userinfo['address'] or '地球' }}
                    </div>
                    {% if current_user and str(userinfo['_id']) != current_user['_id'] %}
                    <div class="am-fr">
                        <a  name="follow" href="#">
                        {% if current_user['_id'] in userinfo['follower'] %}
                            取消关注
                        {% else %}
                            关注他/她
                        {% end %}
                        </a>
                    </div>
                    {% end %}
                </td>
            </tr>
            <tr class="row">
                <td class="am-text-center">
                    <div><a class="counter" href="/msl12/followers">{{ len(userinfo['favorite']) }}</a></div>
                    <div>收藏帖子</div>
                </td>
                <td class="am-text-center">
                    <div><a class="counter" href="/user/{{ userinfo['username'] }}/followers">{{len(userinfo['follower'])}}</a></div>
                    <div>关注者</div>
                </td>
                <td class="am-text-center">
                    <div><a class="counter" href="/user/{{ userinfo['username'] }}/following">{{len(userinfo['following'])}}</a></div>
                    <div>正在关注</div>
                </td>
            </tr>
        </table>
        <ul class="am-list">
            {% if userinfo['openemail'] %}
            <li><p>Email: <a href="mailto:{% raw userinfo['email'] %}">{{ userinfo['email'] }}</a></p></li>
            {% end %}
            {% if userinfo['openqq'] %}
            <li><p>QQ: {{ userinfo['qq'] or '未知' }}</p></li>
            {% end %}
            <li><p>个人主页: {{ userinfo['website'] or '未知'}}</p></li>
        </ul>
    </div>
    <div class="am-u-sm-12 am-u-md-8">
        <p class="">最近发布的帖子</p>
        <table class="am-table am-text-sm am-scrollable-horizontal">
            {% for topic in topics %}
            <tr class="row">
                <td>
                    <span>
                        <a class="am-badge am-round" href="/tag/{{ topic['tag'] }}">{{ topic['tag'] }}</a>&nbsp;
                        <a href="/topics/{{ topic['_id'] }}" >{{ topic['title'] }}</a>&nbsp;&nbsp;
                        <time><em>{{ datetime.datetime.fromtimestamp(topic['time']).strftime('%Y-%m-%d') }}</time></em>
                    </span>
                </td>
                <td  style="vertical-align:middle;">
                   <span class="am-badge am-round">{{len(topic['comment'])}}</span>
                </td>
            </tr>
            {% end %}
        </table>
    </div>
</div>
{% end %}
{% block js %}
<script type="text/javascript">
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }
    $(function(){
        $("a[name='follow']").click(function(){
            $.post("/user/follow/{{userinfo['_id']}}",{
                "_xsrf":getCookie("_xsrf")},
                function(response){
                    rtn = eval("(" + response + ")");
                    if(rtn['success'] != 0) {
                        window.location.reload();
                    } else {
                        alert(rtn['msg']);
                    }
            });
        });
    });
</script>
{% end %}