{% extends "../../base/template/base.html" %}
{% block title %}{{ userinfo['username'] }} 的主页{% end %}
{% block css %}
<style type="text/css">
    a.counter {
        color: #356dd0;
        font-size: 32px;
    }
</style>
{% end %}
{% block body %}
<div class="am-container" style="max-width: 1200px;">
    <div class="am-u-md-10 am-u-sm-12 am-u-sm-center">
        <div class="am-u-md-4">
            <table class="am-table am-text-sm am-scrollable-horizontal">
                <tr class="row">
                    <td>
                        <img class="am-img-thumbnail am-circle" src="{{ static_url("img/avatar/"+str(userinfo['_id'])+".png")}}" width="90" height="90"/>
                    </td>
                    <td colspan="2">
                        <div>
                            <strong>  {{ userinfo['username'] }}</strong>
                        </div>
                        <div>
                            注册于
                            {{ userinfo['register_time'] }}
                        </div>
                        <div>
                            xx 篇帖子
                        </div>
                    </td>
                </tr>
                <tr class="row">
                    <td class="am-text-center">
                        <div><a class="counter" href="/msl12/followers">3</a></div>
                        <div>精华帖子</div>
                    </td>
                    <td class="am-text-center">
                        <div><a class="counter" href="/user/{{ userinfo['username'] }}/followers">3</a></div>
                        <div>关注者</div>
                    </td>
                    <td class="am-text-center">
                        <div><a class="counter" href="/user/{{ userinfo['username'] }}/following">3</a></div>
                        <div>正在关注</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="am-u-md-5">
        465
        </div>
    </div>
</div>

{% end %}