{% extends "../../base/template/base.html" %}
{% block title %}忘记密码{% end %}
{% block body%}
<div class="am-g am-g-fixed">
    <div class="am-u-lg-6 am-u-md-6 am-u-sm-centered">
        <hr>
        <form class="am-form" method="POST" action="?step={{step}}">
            <fieldset>
                {% module xsrf_form_html() %}
                {% if step == 1 %}
                <div class="am-form-group">
                    <label>请输入用户名，将发送重置密码邮件到注册邮箱</label>
                    <input type="text" name="username" class="" placeholder="username">
                </div>
                <div class="am-form-group">
                    <input type="text" class="" placeholder="captcha">
                    <img src="/captcha.png">
                </div>
                {% elif step == 2 %}
                <input type="hidden" class="" name="token" value="{{token}}">
                <div class="am-form-group">
                    <label>请输入新的密码</label>
                    <input type="password" name="password" class="" placeholder="password">
                </div>
                {% else %}
                {% end %}
                <button type="submit" class="am-btn am-btn-primary">提&nbsp;交</button>
            </fieldset>
        </form>
    </div>
</div>
{% end %}