{% extends "../../base/template/base.html" %}
{% block title%}登陆{% end %}
{% block css%}
<style>
    .header {
        text-align: center;
    }
    .header h1 {
        font-size: 200%;
        color: #333;
        margin-top: 30px;
    }
    .header p {
        font-size: 14px;
    }
/*    body {
        background-image:url("{{static_url("assets/img/login.jpg")}}");
        background-size: cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
    }*/
</style>
{% end %}

{% block header%}{% end %}

{% block body%}
<div class="header">
    <div class="am-g">
        <h1>Ushio</h1>
        <p class="am-monospace">{{ site_base['keyword'] }}</p>
    </div>
</div>
<div class="am-g am-g-fixed">
    <div class="am-u-lg-4 am-u-md-4 am-u-sm-centered">
        <h3>登录</h3>
        {% if error %}
        <div class="am-alert am-alert-danger" data-am-alert>
            <button type="button" class="am-close">&times;</button>
            <p class="am-small">{{ error }}</p>
        </div>
        {% end %}
        <hr>
<!--     <div class="am-btn-group">
        <a href="##" class="am-icon-btn am-icon-facebook"></a>
        <a href="##" class="am-icon-btn am-icon-qq"></a>
        <a href="##" class="am-icon-btn am-icon-google-plus"></a>
    </div>
    <br>
    <br> -->
        <form method="POST" action="?next={{ next }}" class="am-form">
            {% module xsrf_form_html() %}
            <input type="text" name="username" id="username" placeholder="用户名">
            <br>
            <input type="password" name="password" id="password" placeholder="密码">
            <br>
            <label for="remember-me"><input id="remember-me" name="remember" type="checkbox">记住我</label>
            <!-- <a href="##" class="am-icon-qq"> QQ </a> -->
            <br>
            <div class="am-cf">
                <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
                <a href="##" class="am-btn am-btn-default am-btn-sm am-fr">忘记密码</a>
            </div>
        </form>
     </div>
</div>
{% end %}