{% extends "../../base/template/base.html" %}
{% block title%}{{ current_user['username']}} 喜欢的帖子{% end %}
{% block css%}
<style type="text/css">
    .item-title {
        font-size: 16px;
        hyphens: auto;
        line-height: 130%;
        text-shadow: 0 1px 0 #fff;
        word-wrap: break-word;
        font-weight: 900;
    }
</style>
{% end %}
{% block body%}
<!-- content -->
<div class="am-container" style="max-width: 1200px;">
    <div class="am-u-md-9 am-u-sm-centered">
            <div class="am-panel am-panel-default">
                <div class="am-panel-bd am-text-center">
                    <h2>我喜欢的文章</h2>
                </div>
                <table class="am-table am-text-sm am-table-striped am-scrollable-horizontal">
                    {% for topic in topics %}
                    <tr class="row">
                        <td width="6%" class="am-hide-sm-down">
                            <img class="am-img-thumbnail am-circle" src="{{ static_url("img/avstar/avstar3.png")}}" width="40" height="40"/>
                        </td>
                        <td>
                            <span class="item-title">
                                <a href="/topics/{{ topic['_id'] }}" >
                                    {{ topic['title'] }}
                                </a>
                            </span>
                            <br>
                           <span>
                                <a class="am-badge am-round" href="/go/apple">{{ topic['node'] }}</a> &nbsp;•&nbsp;
                                {% if topic['comment'] %}
                                <strong><a href="/user/{{ topic['author'] }}">{{ topic['author'] }}</a></strong><div class="am-hide-sm-down"> &nbsp;•&nbsp; 最后由 <strong><a href="/user/{{ topic['comment'][-1]['username'] }}">{{ topic['comment'][-1]['username'] }}</a></strong> 回复于 {% module TimeSpan(topic['comment'][-1]['time']) %}</div>
                                {% else %}
                                目前还没有人回复
                                {% end %}
                            </span>
                        </td>
                        <td  style="vertical-align:middle;">
                           <span class="am-badge am-round">{{len(topic['comment'])}}</span>
                        </td>
                    </tr>
                    {% end %}
                </table>
                <div class="am-panel-footer">
                    <ul class="am-pagination am-fr admin-content-pagination"></ul>
                    <div class="am-cf"></div>
                </div>
        </div>
    </div>
</div>
{% end %}