{% comment 路径是否有更好的方式 %}
{% extends "../../base/template/base.html" %}

{% block title%}首页{% end %}
{% block css%}
<style type="text/css">
    .item-title {
        font-size: 16px;
        hyphens: auto;
        line-height: 130%;
        text-shadow: 0 1px 0 #fff;
        word-wrap: break-word;
        font-weight: 900;
    }
</style>
{% end %}

{% block body%}
<!-- content -->
<div class="am-container" style="max-width: 1200px;">
    <div class="am-u-md-9">
            <div class="am-panel am-panel-default">
                <div class="am-panel-bd am-text-center">
                    <small>鲁鲁修，你知道雪为什么是白色的吗？因为它忘记了自己曾经的颜色。 --c.c</small>
                </div>
                <table class="am-table am-text-sm am-table-hover am-scrollable-horizontal">
                    {% for topic in topics %}
                    <tr class="row">
                        <td width="6%" class="am-hide-sm-down">
                            <img class="am-img-thumbnail am-circle" src="{{ static_url("img/avstar/avstar3.png")}}" width="40" height="40"/>
                        </td>
                        <td>
                            <span class="item-title">
                                <a href="/topics/{{ topic['_id'] }}" >
                                    {{ topic['title'] }}
                                </a>
                            </span>
                            <br>
                            <span>
                                <a class="am-badge am-round" href="/go/apple">Apple</a> &nbsp;•&nbsp;
                                <strong><a href="/user/{{ topic['author'] }}">{{ topic['author'] }}</a></strong><div class="am-hide-sm-down"> &nbsp;•&nbsp; 最后由 <strong><a href="/member/lxfxf">lxfxf</a></strong> 回复于 12 分钟前</div>
                            </span>
                        </td>
                        <td  style="vertical-align:middle;">
                           <span class="am-badge am-round">12</span>
                        </td>
                    </tr>
                    {% end %}

                </table>
                <div class="am-panel-footer">
                    <ul class="am-pagination am-fr admin-content-pagination"></ul>
                    <div class="am-cf"></div>
                </div>
        </div>
    </div>
    <div class="am-u-md-3">
        <span class="am-badge">1</span>
        <span class="am-badge am-badge-primary">2</span>
        <span class="am-badge am-badge-secondary">3</span>
        <span class="am-badge am-badge-success">4</span>
        <span class="am-badge am-badge-warning">5</span>
        <span class="am-badge am-badge-danger">6</span>
        <span class="am-badge am-badge-success">Allmobilize</span>
        <br>
        <a class="am-badge am-badge-primary">Free</a>
        <a class="am-badge am-badge-secondary">Secondary</a>
        <a class="am-badge am-badge-success">Success</a>
        <a class="am-badge am-badge-warning">Warning</a>
        <a class="am-badge am-badge-danger">Danger</a>
        <!-- 热门主题 -->
        <a href="##" class="am-btn am-btn-default am-btn-xs am-round">弹丸论破</a>
        <a href="##" class="am-btn am-btn-default am-btn-xs am-round">男子高中生的日常</a>
        <a href="##" class="am-btn am-btn-default am-btn-xs am-round">我的妹妹不可能那么可爱</a>
        <a href="##" class="am-btn am-btn-default am-btn-xs am-round">舰娘collection</a>
        <!-- end 热门主题 -->
    </div>
</div>
{% end %}